body {
    max-width: 1400px;
    background-color: #ffff;
    padding-left: 145px;
    padding-right: 145px;
}

section {
    display: inline-block;
    max-width: 1126px;
    padding: 10px; 
}

.second__section {
    max-width: 100%; 
    display: flex; 
    flex-wrap: wrap;
}
.layout__example {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

header {
    width: 1126px;
    height: 78px;
    margin-top:10px;
}

.header__main {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    max-width: 100%;
}

.header__logo {
    display: flex;
    width: 50%;
    align-items: flex-end;
}

.header__menu {
    display: flex;
    width: 30%;
}

.header__button {
    display:flex;
    width: 30%;
}

.menu {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    word-spacing: 5px;
}

.menu-button-right {
    width: 110px;
    height: 46px;
    margin-top: 10px;
    margin-left: 14px;
    background-color: #FF9900;
    border-radius: 6px;
    /* Learn More */
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: auto;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

.menu-button-left {
    width: 110px;
    height: 46px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: auto;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    border-color: #173A56;
    border-width: 1px;
}

.landing-title {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    max-width: 495px;
    width: 100%;
    font-size: 44px;
    line-height: 54px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-info {
    max-width: 458px;
    width: 100%;
    margin-top: 10px;
    border: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.landing-btn {
    width: 175px;
    height: 53px;
    margin-top: 50px;
    background-color: #FF9900;
    border-radius: 6px;
    /* Learn More */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    border: none;
}

.landing-btn-right {
    width: 175px;
    height: 53px;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 6px;
    /* Learn More */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF9900;
    border: none;
}

h3 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #2F281E;
    margin:auto;
    margin-top: 110px;
    margin-bottom: 54px;
    
}

.container {
    position: relative;
    width: 2000px;
    height: 204px;
    padding: 5px;
    display: flex;
}

.card {
    min-width: 240px;
    min-height: 178px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
}

.card-info {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16;
    margin-top: 13px;
}

.card-heading {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 13;
}

.section-title {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    max-width: 495px;
    width: 100%;
    font-size: 36px;
    line-height: 54px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 22px;
}

.section-info {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16;
    max-width: 458px;
    width: 100%;
    margin-top: 10px;
    
}

.section-heading {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16;
    margin-bottom: 12px;
}

.section-subheading {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16;
    padding: 0px;
    margin-bottom: 3px;
   
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  footer {
    width: 1109px;
    height: 308px;
    margin-top: 100px;
    margin-left: 160px;
    margin-right: 131px;
    display: flex;
    flex-direction: row;
  }

  .footer__button {
    width: 131px;
    height: 39px;
    margin-top: 8px;
    margin-left: 15px;
    background-color: #FF9900;
    border-radius: 6px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: auto;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
  }